*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont ;
    src: url(fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
body{
    font-family: var(--my-font);
    
    background-color: #EEEEEE;
}
:root{
    --main-color : #89A8B2;
    --sec-color  : #B3C8CF;
    --third-color: #E5E1DA;
    --fourth-color:#F1F0E8;
    --my-font: myfont;
}
nav{
    z-index: 999;
}
.hero{
    width: 100%;
    height: 90vh;
    background-image: url(/05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;

}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); 
  z-index: 0;
  border-radius: 0.5rem; 
}
.hero * {
    position: relative;
    z-index: 1;
}
.hero-text{
    width: 100%;
    height: 50%;
    color: white;
}
.hero-text h1{
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bolder;
    line-height: 80px;
}
.hero-text p {
    font-size: 24px;
    letter-spacing:2px ;
    
}
.hero-text button{
    width: 180px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}
.hero-text .btn1 {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.hero-text .btn1:hover{
   background-color: white;
    
    border: none;
    color: black;
}
.hero-text .btn2 {
    background-color: transparent;
    border: 3px solid black;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.hero-text .btn2:hover{
    background-color: white;
    
    border: none;
    color: black;
}
.slider1 {
    width: 100%;
    height: 30vh;
    
    margin-top: 50px;
   

}
.img-1{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card-body {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

/* Overlay */
.card-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); 
  z-index: 0;
  border-radius: 0.5rem; 
}

.card-body * {
    width:300px;
    position: relative;
    z-index: 1;
}

.cardbody2 {
  background-image: url(image/02.jpg);
}

.cardbody3 {
  background-image: url(image/03.jpg);
}
.cardbody1{
    background-image: url(image/04.jpg);
}

.cards {
  flex-wrap: wrap; 
  gap: 20px;
}

.icons .fa-solid{
    cursor: pointer;
}
.All-products{
    width: 100%;
    height: 900px;
    margin-top: 80px;
}
.All-products h1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.products {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
}

.products div {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.products div:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.products img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.details {
    padding: 10px;
    text-align: left;
}

.details h4 {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: bold;
}

.details .men {
    font-size: 0.9rem;
    color: gray;
}

.details .delete {
    opacity: 0.7;
    margin-right: 5px;
}
.offer{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(image/017.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px auto;
    color: white;
    position: relative;
    padding: 20px;
    font-size: 24px;
    
}
.offer::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  z-index: 0;
  border-radius: 0.5rem; 
}
.offer * {
    position: relative;
    z-index: 1;
}
.offer button{
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 18px;
    margin-top: 20px;
}
.offer button:hover{
    background-color: black;
    color: white;
    border: none;
    
}
.offer p{
    font-size: 20px;
}
.about{
    width: 100%;
    margin: 30px auto;
    height: 400px;
    background-color: #ddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about .one,.about .two,.about .three,.about .four{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.about .one div , .about .two div ,.about .three div ,.about .four div{
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 40%;
}
.about .one img ,.about .two img,.about .three img ,.about .four img{
      width: 20%;
    height: 100%;
    text-align: center;
}

.about .section{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
footer .group-links{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
footer .links ,footer .for-her, footer .for-him{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 40px;

}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rgb(4, 4, 145);
}
footer .footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    border-top: 1px solid #ccc;
}
footer .footer .content{
    width: 82%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#cart{
    cursor: pointer;
}